<div class="row g-3 mb-4" dir="rtl">
  @for (item of items(); track item.label) {
    <div class="col-6 col-lg-3">
      <div class="card h-100"
           [class]="'kpi-border--' + item.variant"
           [class.kpi-card--active]="item.active"
           [class.cursor-pointer]="clickable()"
           (click)="onClick(item)">
        <div class="card-body d-flex align-items-center gap-3 p-3">
          <div [class]="'kpi-icon kpi-icon--' + item.variant">
            <i class="fa-solid" [ngClass]="item.icon"></i>
          </div>
          <div>
            <div class="kpi-val">{{ item.value }}</div>
            <div class="kpi-lbl">{{ item.label }}</div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
